<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Title</title>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    function loginAction() {

        // 获取用户输入的账号和密码
        var msg = $('#msg').val();
        //var password = $('#password').val();

        $.ajax({
            url : '/get',
            type : 'post',
            // data对象中的属性名要和服务端控制器的参数名一致 login(name, password)
            data : {
                'msg' : msg,
                //'password' : password
            },
            dataType : 'json',
            success : function(data)
            {
                //var object = data.parseJSON();
                for (var i in data)
                {
                    alert(data[i]);
                    
                }

            },
            error : function(e) {
                alert("系统异常");
            }
        });
        //$('#password').val("");   //置空

    }
</script>
</head>

<body>
<input type="text" id="msg">
&emsp;  <!--tab键-->
<input type="button" value="Search" onclick="loginAction()">
<h1 id="00">
<span th:text="${data}"></span>

</body>
</html>